body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #88cbca;
  color: #001f3f;
}

a {
  text-decoration: none;
}

.Toastify__toast--success {
  background-color: #00c569 !important;
  color: #fbf7ef !important;
}

.Toastify__toast--error {
  background-color: #de2c2c !important;
  color: #fbf7ef !important;
}

/* table
 */
table {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th,
table tfoot tr td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #387d64;
  color: white;
}
