body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #88cbca;
  color: #001f3f;
}

a {
  text-decoration: none;
}

.Toastify__toast--success {
  background-color: #00c569 !important;
  color: #fbf7ef !important;
}

.Toastify__toast--error {
  background-color: #de2c2c !important;
  color: #fbf7ef !important;
}
